header.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
  figure.container-img {
    border-radius: 10px;
    width: 336px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 375px) {
      width: 70vw;
    }
    img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
    }
  }
}
